/*
    Douglas Salvati
    Douglas_Salvati@student.uml.edu
    Computer Science Department, UMass Lowell
    COMP.4610 GUI Programming 1
    File: /usr/cs/2018/dsalvati/public_html/comp4610hw3/css/style2.css
    Created: 12 October 2017
    Modified: 18 October 2017

    Description: This file contains the second set of CSS rules
    to style the sample document for Homework 3.
*/

/* The document is green-on-black, so set text color at body level */
body {
    margin: 5% 5% 5% 5%;
    color: #11b83a;
    background-color: black;
    font-family: sans-serif;
    line-height: 2em;
}

/* Image is long and skinny */
img {
    width: 100%;
    height: 200px;
}

/* Main titles off to the right in a cursive font for contrast */
h1 {
    text-align: right;
    color: #1eff00;
    font-family: cursive;
}

/* Overline for interestig effect */
h2 {
    text-decoration: underline overline;
    color: #1eff00;
}

/* Headers are brighter green to stand out more */
h3 {
    color: #1eff00;
    text-align: center;
}

/* Link styled with border and fill color to resemble a button */
a {
    padding: 5px;
    margin: 5px;
    background-color: #11b83a;
    color: black;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

/* Turn darker on hover */
a:hover {
    background-color: #0a551b;
    color: white;
}

/* Override green colors to set the table apart */
table {
    color: #db3ace;
    line-height: 1em;
    border-collapse: collapse;
    border: 3px dashed white;
}

th, td {
    border: 1px dashed white;
    padding: 10px;
}