/*
    Douglas Salvati
    Douglas_Salvati@student.uml.edu
    Computer Science Department, UMass Lowell
    COMP.4610 GUI Programming 1
    File: /usr/cs/2018/dsalvati/public_html/comp4610hw3/css/style1.css
    Created: 12 October 2017
    Modified: 12 October 2017

    Description: This file contains the first set of CSS rules
    to style the sample document for Homework 3.
*/

/* Create some "breathing room" in the page */
body {
    margin: 5% 20% 5% 20%;
    text-align: justify;
}

/* Scale down and center the large image and give it a border. */
img {
    width: 50%;
    height: auto;
    display: block;
    margin: auto;
    border: 5px solid #0000ff;
}

/* Main titles are centered and blue */
h1 {
    text-align: center;
    color: #0000ff;
    font-family: sans-serif;
}

/* Sections of the document are underlined h2's */
h2 {
    text-decoration: underline;
    color: #242472
}

h3 {
    color: #242472;
}

/* Make links a more pleasant blue and remove the underline */
a {
    color: #208fa3;
    text-decoration: none;
}

/* Link will acknowledge when you touch it by underlining */
a:hover {
    text-decoration: underline;
}

/* No spacing between rows/columns to give a single black line border */
table {
    border-collapse: collapse;
    border: 3px solid black;
}

/* Inner borders are a little thinner */
th, td {
    border: 1px solid black;
    padding: 10px;
}

/* Color the header of the table to differentiate */
th {
    background-color: #c9deec;
}