/*
    Douglas Salvati
    Douglas_Salvati@student.uml.edu
    Computer Science Department, UMass Lowell
    COMP.4610 GUI Programming 1
    File: /usr/cs/2018/dsalvati/public_html/comp4610/final/css/final.css
    Created: 9 December 2017
    Modified: 9 December 2017

    Description: Style for the CSS code generator.
*/

body {
    background-color: #e2e2e2;
    margin: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

::placeholder {
    color: #e2e2e2;
}

input[type=checkbox], input[type=radio], input[type=file]{
    display: none;
}

/* Heading */
#heading {
    height: 100px;
    padding-left: 10%;
    padding-right: 10%;
}
#heading > * {
    display: inline-block;
}

#reset-all {
    position: absolute;
    right: 20%;
    padding: 10px;
    color: white;
    background: rgb(218, 168, 60);
    cursor: pointer;
}
#generate-css {
    position: absolute;
    right: 10%;
    padding: 10px;
    color: white;
    background: rgb(60, 128, 218);
    cursor: pointer;
}
#generated-css {
    white-space: pre;
    font-family: monospace;
}

/* Tabs! */
#toolbar {
    height: 200px;
    padding: 0;
}

#toolbar > div {
    padding: 0;
}

#tabs-list {
    padding: 0;
}

.tool {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    padding-left: 20px;
    padding-top: 5px;
    color: #b1b1b1;
    text-align: center;
}

.tool-array {
    text-align: left;
    line-height: 2em;
}
.tool-array-ctr {
    text-align: center;
    line-height: 2em;
}
label {
    color: #b6b6b6;
    cursor: pointer;
    padding: 10px;
}
label:hover {
    color: #646464;
}
input[type="radio"]:checked+label, input[type="checkbox"]:checked+label {
    color: rgb(60, 128, 218);
}
button {
    cursor: pointer;
}

.separator {
    width: 50px;
}

/* Main content (div) */

#target-div {
    height: 300px;
    width: 300px;
    background: white;
    margin: auto;
    margin-top: 25px;
    color: rgba(189, 189, 189, 0.5);
    font-style: italic;
    font-size: 2em;
}

/* GRADIENT */
.droplet-and-clone {
    height: 60px;
    width: 60px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 0 50px 50px 50px;
    cursor: move;
    border: 1px solid black;
    z-index: 999;
}
/* Customize color picker,
   based on example from the distro */
.color-picker.static {
    display:inline-block;
    position:static;
}
.color-picker.static .color-picker-control {
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}

/* TRANSFORM */
.slider {
    width: 200px;
}

/* SHADOW */
#shadow-darkness {
    background: -webkit-linear-gradient(left, rgb(255, 255, 255) 1%, rgb(0, 0, 0) 100%);
	background: -o-linear-gradient(right, rgb(255, 255, 255) 1%, rgb(0, 0, 0) 100%);
	background: -moz-linear-gradient(right, rgb(255, 255, 255) 1%, rgb(0, 0, 0) 100%);
	background: linear-gradient(to right, rgb(255, 255, 255) 1%, rgb(0, 0, 0) 100%);
}
.dragcursor {
    cursor: move;
}

/* EXAMPLES */
#tab-example-tab {
    background: rgb(10, 155, 22);
    background: rgb(0, 207, 41);
	background: -webkit-linear-gradient(bottom, rgb(0, 207, 41) 36%, rgb(0, 255, 51) 47%);
	background: -o-linear-gradient(top, rgb(0, 207, 41) 36%, rgb(0, 255, 51) 47%);
	background: -moz-linear-gradient(top, rgb(0, 207, 41) 36%, rgb(0, 255, 51) 47%);
	background: linear-gradient(to top, rgb(0, 207, 41) 36%, rgb(0, 255, 51) 47%);
}

.example {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin: 20px;
    margin-left: 80px;
}