/*
    Douglas Salvati
    Douglas_Salvati@student.uml.edu
    Computer Science Department, UMass Lowell
    COMP.4610 GUI Programming 1
    File: /usr/cs/2018/dsalvati/public_html/comp4610hw3/css/style3.css
    Created: 12 October 2017
    Modified: 18 October 2017

    Description: This file contains the third set of CSS rules
    to style the sample document for Homework 3.
*/

/* Want all the types of headers to have small caps */
/* Page will have a thin border and light background */
body {
    margin: 5% 10% 5% 10%;
    font-variant: small-caps; 
    border: 1px solid black;
    padding: 5%;
    background: #b6f5ee;
}

/* Actual text will not be small caps */
/* Indent paragraphs for more professional look */
p {
    font-variant: normal;
    text-indent: 2em;
    line-height: 150%;
}

/* Give image large radius to create oval */
/* Specify borders individually for multicolored */
img {
    width: 50%;
    height: auto;
    border-radius: 50%;
    border-bottom: 10px solid #ffd900;
    border-top: 10px solid #ff5e00;
    border-left: 10px solid #0004ff;
    border-right: 10px solid #00ff37;
}

/* Some headers get shadows, h1 has wide spacing */
h1 {
    font-family: sans-serif;
    text-shadow: 4px 4px 4px #bbbbbb;
    letter-spacing: 10px;
}

h2 {
    text-shadow: 4px 4px 4px #bbbbbb;
    text-decoration: underline;
}

/* Links are colorful to complement the image's border */
a {
    padding: 10px;
    text-decoration: none;
    font-variant: normal;
    font-family: sans-serif;
    color: #ff5e00;
}

a:hover {
    color: #00ff37;
}

/* Table has same colored border as image for consistency */
table {
    border-collapse: collapse;
    border-bottom: 10px solid #ffd900;
    border-top: 10px solid #ff5e00;
    border-left: 10px solid #0004ff;
    border-right: 10px solid #00ff37;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

th {
    background-color: #8af575;
}

/* Use Greek lettering for all lists, just for fun */
ul {
    list-style-type: lower-greek;
}

li {
    font-variant: normal;
    line-height: 150%;
}