/*
    Douglas Salvati
    Douglas_Salvati@student.uml.edu
    Computer Science Department, UMass Lowell
    COMP.4610 GUI Programming 1
    File: /usr/cs/2018/dsalvati/public_html/comp4610/hw6/css/hw6.css
    Created: 11 November 2017
    Modified: 29 November 2017

    Description: This file contains the CSS rules for the car table
    program.  It borrows many stylistic choices from the midterm
    assignment for the sake of consistency.  Also controls initial visibility
    of elements since this is a single-page app.
*/

body {
    background-color: #324750;
    margin: 0;
    margin-top: 150px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: white;
}

.center {
    text-align: center;
}

/* Fixed heading on the top of the page, contains some control buttons */
.heading_area {
    background-color: black;
    padding: 25px;
    box-shadow: 0px 10px 5px rgba(0,0,0,0.25);
    position: fixed;
    z-index: 998;
    top: 0;
    width: 100%;
    height: 60px;
    text-align: center;
}

.heading_area > * {
    display: inline;
}

/* Give data entry a simple but comfortable design */
.constants, .param {
    margin: 10px;
    background-color: rgba(99, 215, 228, 0.286);
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}
.constants, .params {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
.param {
    float: left;
    min-width: 20%;
    margin: 0;
    border: 1px solid #324750;
}

li {
    padding: 5px;
}

/* Give sliders some breathing room */
.slider {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Table is initially not shown */
#part-two-view-table {
    display: none;
}

/* Table takes up most of the available space
   no matter the size.  It's centered too */
table {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

table, tr, td {
    border: 2px solid white;
    border-collapse: collapse;
    padding: 20px;
}

td {
    position: relative;
}

/* Table row/column highlighting
   Credit to https://codepen.io/davesantos/pen/etHgh
   for teaching me this. Basically, it creates a
   really tall box when you hover over a td, and
   the ends of it get hidden because the table has
   overflow: hidden!
*/
tr:hover {
    background-color: rgba(99, 215, 228, 0.475);
}
td:hover::after { 
    background-color: rgba(99, 215, 228, 0.475);
    content: '';
    height: 10000px;
    left: 0;
    position: absolute;
    top: -5000px;
    width: 100%;
    z-index: -1;
}

/* Highlights on major row and column */
tr:first-child, td:first-child {
    background-color: rgba(99, 215, 228, 0.486);
}

/* Input validation */
input[type=number] {
    border-radius: 5px;
    padding: 3px;
    margin: 3px;
    border: 1px solid transparent;
    width: auto;
}

input.invalid {
    border: 1px solid red;
}

/* Credit to
   http://nicolasgallagher.com/pure-css-speech-bubbles/
   for the demos and tutorials on creating the
   callout arrows!
*/
label.invalid {
    background-color: rgba(0,0,0,0.75);
    color: red;
    font-style: italic;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 3px;
    border-radius: 5px;
    position: absolute;
    pointer-events: none;
    width: 7em;
    font-size: 50%;
    /* Override the sliders, which have z-indices */
    z-index: 9999;
}
  
label.invalid:after {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: -20px;
    width: 0;
    border-width: 5px 20px 5px 0;
    border-style: solid;
    border-color: transparent rgba(0,0,0,0.75);
}